In [1]:
sentence = "apple banana apple orange banana apple"
words = sentence.split()

freq = {}
for w in words:
    freq[w] = freq.get(w, 0) + 1

print(freq)

{'apple': 3, 'banana': 2, 'orange': 1}

In [2]:
# Store 3 students with subjects & marks. 
students = {
    "Ravi": {"Math": 80, "Science": 70, "English": 90},
    "Priya": {"Math": 85, "Science": 95, "English": 92},
    "Aman": {"Math": 60, "Science": 65, "English": 70}
}
# Average Marks of Class
total_marks = 0
num_subjects = 0
for subjects in students.values():
    for marks in subjects.values():
        total_marks += marks
        num_subjects +=1
class_average = total_marks/num_subjects
print(class_average)

78.55555555555556

In [3]:
total_marks = 0
num_subjects = 0
for subjects in students.values():
    for marks in subjects.values():
        total_marks += marks
        num_subjects +=1
class_average = total_marks / num_subjects
print(class_average)

78.55555555555556

In [8]:
#find total marks of each student:
# for name,subjects in students.items():
#     total = 0
#     for marks in subjects.values():
#         total += marks
#     print(name,total)

for name,subjects in students.items():
    total = 0
    for marks in subjects.values():
        total+= marks
    print(name,total)

Ravi 240
Priya 272
Aman 195

In [11]:
# Find Average Marks of Each Student
for name,subjects in students.items():
    total = 0
    count = 0
    for marks in subjects.values():
        total += marks
        count +=1
    average = total/count
    print(name,average)

Ravi 80.0
Priya 90.66666666666667
Aman 65.0

In [ ]:
max_marks = 0
topper = ""
for name,subjects in students.items():
    total = sum(subjects.values())
    if total > max_marks:
        max_marks = total
        topper = name
print(topper,max_marks)

Priya 272

In [15]:
min_marks = None
lowest = ""
for name,subjects in students.items():
    total = sum(subjects.values())
    if min_marks is None or total < min_marks:
        min_marks = total
        lowest = name
print(min_marks,lowest)

195 Aman

In [16]:
total_marks_class = 0
for subject in students.values():
    for marks in subjects.values():
        total_marks_class += marks
print(total_marks_class)

585

In [17]:
less_70_any = []
for name, subjects in students.items():
   for marks in subjects.values():
       if marks < 70:
           less_70_any.append(name)
           break

print("Students scoring less than 70 in any subject:", less_70_any)

Students scoring less than 70 in any subject: ['Aman']

In [18]:
d = {"a": 1, "b": 2, "c": 1, "d": 3}

unique = {}
for k, v in d.items():
   if v not in unique.values():
       unique[k] = v
print(unique)

{'a': 1, 'b': 2, 'd': 3}

In [ ]:
# Initialize the dictionary with movie details
movie_collection = {
    "Inception": {  # Movie title as the key
        "director": "Christopher Nolan",  # Director of the movie
        "year": 2010  # Year the movie was released
    },
    "Titanic": {  # Movie title as the key
        "director": "James Cameron",  # Director of the movie
        "year": 1997  # Year the movie was released
    },
    "The Matrix": {  # Movie title as the key
        "director": "Lana &  Lilly Wachowski",  # Director(s) of the movie
        "year": 1999  # Year the movie was released
    }
}

James Cameron
1997
1998

In [ ]:
bob_subjects = student_subjects.get("Bob")  # Retrieve Bob's subjects
print(bob_subjects)  # Print Bob's subjects

# Add a new subject "Computer Science" to Alice's list
student_subjects["Alice"].append("Computer Science")  # Add new subject to Alice's list

# Use the len() function to print the total number of subjects Alice is now enrolled in
alice_subject_count = len(student_subjects["Alice"])  # Count the number of subjects Alice is enrolled in
print(alice_subject_count)