In [6]:
marks = {
    "English":75,
    "Maths":89,
    "Science":90
}
marks["English"] = 67
marks["maths"] = 86
marks.pop("Science")
marks.remove("Maths")
print(marks)

AttributeError: 'dict' object has no attribute 'remove'

In [10]:
student = {"name": "Ravi", "age": 20, "course": "Python"}
print(student["course"])  
print(student["name"])
# print(student[name])

Python
Ravi

In [ ]:
# d = {"a": 1, "b": 2, "a": 4}
# print(d) 

# d = {
#     "name":12,
#     "age":40,
#     "course":"Python"
# }
# print(d)
# print(d["name"])
# print(d["name"]= "Ramesh")

{'name': 12, 'age': 40, 'course': 'Python'}
12
{'name': 'Ramesh', 'age': 40, 'course': 'Python'}

In [21]:
d = {
    "name": "Ramesh",   # string key
    101: "student",     # integer key
    3.14: "pi value",   # float key
    (1, 2): "tuple key",# tuple key
    True: "yes"         # boolean key
}

print(d)
print(d[101])     # accessing integer key
print(d[(1, 2)])  # accessing tuple key



d = {
    101:"student",
    3: 23,
    102:34
}
print(d)

{'name': 'Ramesh', 101: 'student', 3.14: 'pi value', (1, 2): 'tuple key', True: 'yes'}
student
tuple key
{101: 'student', 3: 23, 102: 34}

In [20]:
d1 = dict(
    name= "aditya",
    age=23
)
print(d1)

{'name': 'aditya', 'age': 23}

In [ ]:
# Empty dictionary
d = {}

# With values
student = {"name": "Ravi", "age": 20, "course": "Python"}

# Using dict() function
d2 = dict(name="Priya", age=22)
print(d2)

In [ ]:
# Creating a dictionary
student = {
    "name": "Ravi",      # string
    "age": 20,           # int
    "marks": [85, 90],   # list
    "pass": True         # boolean
}
print("Initial dictionary:", student)

In [22]:
# Insertion order preserved
student["city"] = "Delhi"
student["id"] = 101
print("After adding city & id:", student)
# Output preserves order of insertion

After adding city & id: {'name': 'Ravi', 'age': 20, 'course': 'Python', 'city': 'Delhi', 'id': 101}

In [34]:
student = {
    "name":"aditya",
    "age":20,
    "course":"python"
}
# student["age"] = 20
# print(student)
print(student["age"])
print(student["course"])
print(student["name"])
# print(student)
# student["name"] = "prince"
# print(student)

# student["name1"] = "pranitha"
# print(student)

# student.pop("age")
# print(student)

20
python
aditya

In [38]:
# Adding nested dictionary (dict inside dict)
student["address"] = {"street": "Road", "pin": 110001}

print(student)
print(student["address"]["pin"])

{'name': 'aditya', 'age': 20, 'course': 'python', 'address': {'street': 'Road', 'pin': 110001}}
110001

In [41]:
student = {
    "name": "Ravi",
    "age": 21,
    "city": "Mumbai"
}
print("Before popitem:", student)
last_pair = student.popitem()   
print("Removed pair:", last_pair)
print("After popitem:", student)

Before popitem: {'name': 'Ravi', 'age': 21, 'city': 'Mumbai'}
Removed pair: ('city', 'Mumbai')
After popitem: {'name': 'Ravi', 'age': 21}

In [44]:
student = {
    "name": "Ravi",
    "age": 21,
    "city": "Mumbai",
    "marks": 85
}
student.pop("city")
print(student)
student.popitem()
print(student)

{'name': 'Ravi', 'age': 21, 'marks': 85}
{'name': 'Ravi', 'age': 21}

In [ ]:
student = {"name": "Ravi", "age": 20, "course": "Python"}

# ✅ Access by key
print(student["name"])  
print(student["age"])    

# ✅ Safe access using get()
print(student.get("course"))     
print(student.get("roll"))       
print(student.get("roll", 0))

Ravi
20
Python
None
0

In [ ]:
student = {"name": "Ravi", "age": 20}
# Membership
print("name" in student)     
print("roll" not in student) 

# Length
print(len(student))

In [46]:
student = {"name": "Ravi", "age": 20}
print(student.keys())    # dict_keys(['name', 'age'])
print(student.values())  # dict_values(['Ravi', 20])
print(student.items())   # dict_items([('name', 'Ravi'), ('age', 20)])

dict_keys(['name', 'age'])
dict_values(['Ravi', 20])
dict_items([('name', 'Ravi'), ('age', 20)])

In [47]:
student = {"name": "Ravi", "age": 20}
extra = {"roll": 101, "marks": 90}

student.update(extra)
print(student)
# {'name': 'Ravi', 'age': 20, 'roll': 101, 'marks': 90}

{'name': 'Ravi', 'age': 20, 'roll': 101, 'marks': 90}

In [ ]:
students = {
    101: {"name": "Ravi", "age": 20},
    102: {"name": "Priya", "age": 22}
}
# Accessing
print(students[101])          # {'name': 'Ravi', 'age': 20}
print(students[101]["name"])  # Ravi

{'name': 'Ravi', 'age': 20}
Ravi

In [53]:
student = {"name": "Ravi", "age": 20, "course": "Python"}
# Loop keys
for k in student:
    print(k)
# Loop values
for v in student.values():
    print(v)

# Loop both key & value
for k, v in student.items():
    print(k, ":", v)

name
age
course
Ravi
20
Python
name : Ravi
age : 20
course : Python

In [ ]:
marks = {"Ravi": 85, "Priya": 92, "Aman": 78}

# Access using key
print("Ravi:", marks["Ravi"])
print("Priya:", marks.get("Priya"))
print("Aman:", marks["Aman"])


student = {"name": "Ravi", "marks": 85}
# Add
student["city"] = "Delhi"
# Update
student["marks"] = 90
print(student)



student = {"name": "Ravi", "marks": 90, "city": "Delhi"}
removed = student.pop("city")
print("Removed:", removed)
print("After:", student)

Ravi: 85
Priya: 92
Aman: 78
{'name': 'Ravi', 'marks': 90, 'city': 'Delhi'}
Removed: Delhi
After: {'name': 'Ravi', 'marks': 90}

['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

In [58]:
students = {
    "Ravi": {"Math": 80, "Science": 70, "English": 90},
    "Priya": {"Math": 85, "Science": 95, "English": 92},
    "Aman": {"Math": 60, "Science": 65, "English": 70}
}

for name, subjects in students.items():
    avg = sum(subjects.values()) / len(subjects)
    print(name, "Average:", avg)

Ravi Average: 80.0
Priya Average: 90.66666666666667
Aman Average: 65.0

In [59]:
s = "mississippi"
freq = {}
for ch in s:
    freq[ch] = freq.get(ch, 0) + 1

max_char = max(freq, key=freq.get)
print("Most frequent:", max_char, "Count:", freq[max_char])

Most frequent: i Count: 4

In [60]:
d = {"a": 1, "b": 2, "c": 1, "d": 3}

unique = {}
for k, v in d.items():
    if v not in unique.values():
        unique[k] = v
print(unique)

{'a': 1, 'b': 2, 'd': 3}

In [62]:
scores = {"Ravi": 85, "Priya": 92, "Aman": 78, "Sneha": 95}
sorted_scores = dict(sorted(scores.items()))
print(sorted_scores)

{'Aman': 78, 'Priya': 92, 'Ravi': 85, 'Sneha': 95}

In [63]:
scores = {"Ravi": 85, "Priya": 92, "Aman": 78, "Sneha": 95}
sorted_keys = sorted(scores, key=scores.get)  # keys sorted by values
sorted_by_values = {k: scores[k] for k in sorted_keys}

print(sorted_by_values)

{'Aman': 78, 'Ravi': 85, 'Priya': 92, 'Sneha': 95}

In [64]:
scores = {"Ravi": 85, "Priya": 92, "Aman": 78, "Sneha": 95}

sorted_scores = dict(sorted(scores.items(), key=lambda x: x[1]))
print(sorted_scores)

{'Aman': 78, 'Ravi': 85, 'Priya': 92, 'Sneha': 95}

In [65]:
students = {
   "Ravi": {"Math": 80, "Science": 70, "English": 90},
   "Priya": {"Math": 85, "Science": 95, "English": 92},
   "Aman": {"Math": 60, "Science": 65, "English": 70}
}

for name, subjects in students.items():
   avg = sum(subjects.values()) / len(subjects)
   print(name, "Average:", avg)

Ravi Average: 80.0
Priya Average: 90.66666666666667
Aman Average: 65.0

In [66]:
sentence = "apple banana apple orange banana apple"
words = sentence.split()


freq = {}
for w in words:
   freq[w] = freq.get(w, 0) + 1


print(freq)

{'apple': 3, 'banana': 2, 'orange': 1}

In [67]:
for name, subjects in students.items():
    total = 0
    for marks in subjects.values():
        total += marks
    print(name, "Total Marks:", total)

Ravi Total Marks: 240
Priya Total Marks: 272
Aman Total Marks: 195

In [68]:
for name, subjects in students.items():
    total = 0
    count = 0
    for marks in subjects.values():
        total += marks
        count += 1
    average = total / count
    print(name, "Average Marks:", average)

Ravi Average Marks: 80.0
Priya Average Marks: 90.66666666666667
Aman Average Marks: 65.0

In [69]:
max_marks = 0
topper = ""
for name, subjects in students.items():
    total = sum(subjects.values())
    if total > max_marks:
        max_marks = total
        topper = name

print("Topper:", topper, "with Total Marks:", max_marks)

Topper: Priya with Total Marks: 272

In [70]:
min_marks = None
lowest = ""
for name, subjects in students.items():
    total = sum(subjects.values())
    if min_marks is None or total < min_marks:
        min_marks = total
        lowest = name

print("Lowest Scorer:", lowest, "with Total Marks:", min_marks)

Lowest Scorer: Aman with Total Marks: 195

In [71]:
above_80_all = []

for name, subjects in students.items():
    all_above_80 = True
    for marks in subjects.values():
        if marks <= 80:
            all_above_80 = False
            break
    if all_above_80:
        above_80_all.append(name)

print("Students scoring above 80 in all subjects:", above_80_all)

Students scoring above 80 in all subjects: ['Priya']

In [72]:
less_70_any = []
for name, subjects in students.items():
    for marks in subjects.values():
        if marks < 70:
            less_70_any.append(name)
            break

print("Students scoring less than 70 in any subject:", less_70_any)

Students scoring less than 70 in any subject: ['Aman']

In [73]:
total_class_marks = 0

for subjects in students.values():
    for marks in subjects.values():
        total_class_marks += marks

print("Total Marks of Class:", total_class_marks)

Total Marks of Class: 707

In [75]:
# d = {}
d = {
    name:"Aditya",
    age:25,
    marks:34 
}
print(d)

NameError: name 'age' is not defined

In [77]:
d2 = dict(
    name = "Kunal",
    age = "22"
)
print(d2)

{'name': 'Kunal', 'age': '22'}

In [95]:
student = {
   "name": "Ravi",      # string
   "age": 20,           # int
   "marks": [85, 90],   # list
   "pass": True         # boolean
}
student["city"] = "Bangalore"
print(student)
student.pop("age")
print(student)
student.popitem()
print(student)
print(student["name"])
print(student["marks"])
print(student.get("name"))
student["name"] = "Ramesh"
print(student)
print("name" in student)
print("age" not in student)
print(len(student))
print(student.keys())
print(student.values())
print(student.items())

{'name': 'Ravi', 'age': 20, 'marks': [85, 90], 'pass': True, 'city': 'Bangalore'}
{'name': 'Ravi', 'marks': [85, 90], 'pass': True, 'city': 'Bangalore'}
{'name': 'Ravi', 'marks': [85, 90], 'pass': True}
Ravi
[85, 90]
Ravi
{'name': 'Ramesh', 'marks': [85, 90], 'pass': True}
True
True
3
dict_keys(['name', 'marks', 'pass'])
dict_values(['Ramesh', [85, 90], True])
dict_items([('name', 'Ramesh'), ('marks', [85, 90]), ('pass', True)])

In [97]:
# students = {
#    101: {"name": "Ravi", "age": 20},
#    102: {"name": "Priya", "age": 22}
# }

students = {
    101:{"name":"Ravi","age":20},
    102:{"name":"Ravi","age":20},
}
print(students)

{101: {'name': 'Ravi', 'age': 20}, 102: {'name': 'Ravi', 'age': 20}}

In [98]:
scores = {"Ravi": 85, "Priya": 92, "Aman": 78, "Sneha": 95}
sorted_keys = sorted(scores, key=scores.get)  # keys sorted by values
sorted_by_values = {k: scores[k] for k in sorted_keys}

print(sorted_by_values)

{'Aman': 78, 'Ravi': 85, 'Priya': 92, 'Sneha': 95}

In [99]:
scores = {"Ravi": 85, "Priya": 92, "Aman": 78, "Sneha": 95}
sorted_scores = dict(sorted(scores.items()))
print(sorted_scores)

{'Aman': 78, 'Priya': 92, 'Ravi': 85, 'Sneha': 95}

In [101]:
sorted_scores = dict(sorted(scores.items()))
print(sorted_scores)

{'Aman': 78, 'Priya': 92, 'Ravi': 85, 'Sneha': 95}

In [102]:
# sorted_keys = sorted(scores, key=scores.get)  # keys sorted by values
# sorted_by_values = {k: scores[k] for k in sorted_keys}


sorted_keys = sorted(scores,key=scores.get)
sorted_by_values = {k:scores[k] for k in sorted_keys}
print(sorted_by_values)

{'Aman': 78, 'Ravi': 85, 'Priya': 92, 'Sneha': 95}

In [106]:
students = {
    "Ravi": {"Math": 80, "Science": 70, "English": 90},
    "Priya": {"Math": 85, "Science": 95, "English": 92},
    "Aman": {"Math": 60, "Science": 65, "English": 70}
}
total_marks_class = 0
num_subjects = 0

for subjects in students.values():
    for marks in subjects.values():
        total_marks_class +=marks
        num_subjects += 1

class_average = total_marks_class / num_subjects
print("Average Marks of Class:", class_average)

Average Marks of Class: 78.55555555555556

In [107]:
total_marks_class = sum(sum(subjects.values()) for subjects in students.values())
num_subjects = sum(len(subjects) for subjects in students.values())

class_average = total_marks_class / num_subjects
print("Average Marks of Class:", class_average)

Average Marks of Class: 78.55555555555556

In [108]:
total_marks_class = 0
num_subjects = 0
for subjects in students.values():
    for marks in subjects.values():
        total_marks_class += marks
        num_subjects += 1
class_average = total_marks_class / num_subjects
print("Average Marks of Class:", class_average)

Average Marks of Class: 78.55555555555556

In [109]:
for name, subjects in students.items():
   total = 0
   for marks in subjects.values():
       total += marks
   print(name, "Total Marks:", total)

Ravi Total Marks: 240
Priya Total Marks: 272
Aman Total Marks: 195

In [110]:
for name, subjects in students.items():
   total = 0
   count = 0
   for marks in subjects.values():
       total += marks
       count += 1
   average = total / count
   print(name, "Average Marks:", average)

Ravi Average Marks: 80.0
Priya Average Marks: 90.66666666666667
Aman Average Marks: 65.0

In [111]:
max_marks = 0
topper = ""
for name, subjects in students.items():
   total = sum(subjects.values())
   if total > max_marks:
       max_marks = total
       topper = name
print("Topper:", topper, "with Total Marks:", max_marks)

Topper: Priya with Total Marks: 272

In [113]:
min_marks = 0
lowest = ""
for name, subjects in students.items():
   total = sum(subjects.values())
   if min_marks is None or total < min_marks:
       min_marks = total
       lowest = name
print("Lowest Scorer:", lowest, "with Total Marks:", min_marks)

Lowest Scorer:  with Total Marks: 0

In [114]:
dict = {
    "name":101,
    "age":20,
    "marks":200,
    "marks":300
}
print(dict)

{'name': 101, 'age': 20, 'marks': 300}