In [1]:
sentence = "apple banana apple orange banana apple"
words = sentence.split()
freq = {}
for w in words:
   freq[w] = freq.get(w, 0) + 1
print(freq)

{'apple': 3, 'banana': 2, 'orange': 1}

In [2]:
students = {
    "Ravi": {"Math": 80, "Science": 70, "English": 90},
    "Priya": {"Math": 85, "Science": 95, "English": 92},
    "Aman": {"Math": 60, "Science": 65, "English": 70}
}
# Average Marks of Class
total_marks = 0
num_subject  = 0
for subjects in students.values():
    for marks in subjects.values():
        total_marks += marks
        num_subject +=1
average = total_marks/num_subject
print(average)

78.55555555555556

In [3]:
#Find Total Marks of Each Student
for name,subjects in students.items():
    total = 0
    for marks in subjects.values():
        total += marks
    print(name,total)

Ravi 240
Priya 272
Aman 195

In [4]:
#Find Average Marks of Each Student
for name,subjects in students.items():
    total = 0
    count = 0
    for marks in subjects.values():
        total+= marks
        count+=1
    average = total/count
    print(name,average)

Ravi 80.0
Priya 90.66666666666667
Aman 65.0

In [5]:
# Student with Maximum Total Marks
max_marks = 0
topper = ""
for name,subjects in students.items():
    total = sum(subjects.values())
    if total > max_marks:
        max_marks = total
        topper = name
print(topper,max_marks)

Priya 272

In [6]:
# Student with Minimum Total Marks
min_marks = None
lowest = ""
for name,subjects in students.items():
    total = sum(subjects.values())
    if min_marks is None or total<min_marks:
        min_marks = total
        lowest = name
print(total,lowest)

195 Aman

In [ ]:
#Total Marks of Class
#Students Who Scored Less Than 70 in Any Subject
# Remove Duplicate Values from Dictionary
# d = {"a": 1, "b": 2, "c": 1, "d": 3}

In [7]:
d = {"a": 1, "b": 2, "c": 1, "d": 3}
unique = {}
for k,v in d.items():
    if v not in unique.values():
        unique[k] = v
print(unique)

{'a': 1, 'b': 2, 'd': 3}

In [9]:
n= int(input("enter a number"))

for i in range(2,int(n ** 0.5)):
    if n % i == 0:
        print("its not prime")
    else:
        print("prime")

In [ ]:
# # Empty set
# s = set()

# # With values
# fruits = {"apple", "banana", "cherry"}

# # Using list/tuple
# numbers = set([1, 2, 2, 3, 4])
# print(numbers)   # {1,2,3,4}  (duplicates removed)



fruits.add("mango")
print(fruits)   # {"apple","banana","cherry","mango"}

In [ ]:
fruits.remove("banana")   # Error if not present
fruits.discard("grape")   # Safe, no error if missing
fruits.pop()              # Removes a random element
fruits.clear()            # Removes all elements

In [ ]:
if "apple" in fruits:
    print("Apple is present")

In [ ]:
print(len(fruits))

In [1]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)         # {1,2,3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
print(a & b)         # {3}
print(a.intersection(b))

In [ ]:
print(a - b)         # {1,2}
print(a.difference(b))

In [ ]:
print(a ^ b)         # {1,2,4,5}
print(a.symmetric_difference(b))

In [ ]:
x = {1,2}
y = {1,2,3}
print(x.issubset(y))      # True
print(y.issuperset(x))    # True

In [ ]:
a = {1,2}
b = {3,4}
print(a.isdisjoint(b))    # True

In [ ]:
copy_set = fruits.copy()

In [ ]:
squares = {x*x for x in range(1,6)}
print(squares)   # {1,4,9,16,25}

In [ ]:
frozen = frozenset([1,2,3])
# frozen.add(4) âŒ Not allowed

In [2]:

x = 10
if x > 5:
    print("Condition 1 True")
if x > 8:
    print("Condition 2 True")
if x > 9:
    print("Condition 3 True")

Condition 1 True
Condition 2 True
Condition 3 True

In [ ]:
Condition 1 True
Condition 2 True
Condition 3 True

In [1]:
x = 10

if x > 5:
    print("Condition 1 True")

elif x > 8:
    print("Condition 2 True")

elif x > 9:
    print("Condition 3 True")

Condition 1 True

In [ ]:
Condition 1 True

In [9]:
set = {"apple","banana","Cherry","cherry"}
print(set)

{'banana', 'cherry', 'apple', 'Cherry'}

In [24]:
set = {"apple","banana","Cherry","cherry"}
print(set)

{'banana', 'cherry', 'apple', 'Cherry'}