In [ ]:
# Q1.A shopkeeper maintains a list of items in a customerâ€™s cart.
# Initially, the cart is:
# cart = ["milk", "bread", "butter", "eggs"]
# * Add "jam" and "cheese" together to the cart.
# * Insert "honey" at the beginning.
# * "bread" is out of stock, so remove it.
# * The customer returns the last item, so remove it.
# * Finally, display the cart in alphabetical order and show how many 
# times "milk" appears.

In [ ]:
cart = ["milk", "bread", "butter", "eggs"]
# cart.extend(["jam","cheese"])
cart.insert(0,"honey")
cart.remove("bread")
cart.pop()
cart.sort()
cart.count("milk")
print(cart)

['honey', 'milk', 'butter']

In [ ]:
# Q2. Student Marks Analyzer 
# Problem Statement:A teacher stores marks of students:

# marks = [89, 56, 92, 75, 56, 92, 100, 67]
# Perform the following:
# 1. Arrange the marks in ascending order.
# 2. Find the second highest mark.
# 3. Remove all occurrences of the lowest mark.
# 4. Add [85, 90] to the list.
# 5. Reverse the list to see highest marks first.

In [ ]:
marks = [89, 56, 92, 75, 56, 92, 100, 67]
# marks.sort()
# print(marks)
# second_highest = marks[-2]
# print(second_highest)

100

In [7]:
marks = [89, 56, 92, 75, 56, 92, 100, 67]
marks.sort()
print(marks)

[56, 56, 67, 75, 89, 92, 92, 100]

In [ ]:
Q3. Music Playlist Organizer 
# Problem Statement:You have a playlist:
# playlist = ["song1", "song2", "song3", "song4"]
# Do the following:
# * Insert "intro_song" at the beginning.
# * Add ["song5", "song6", "song7"] together.
# * A user removes "song3".
# * Delete the song at index 2.
# * Reverse the playlist.
# * Find the index of "song5"

In [ ]:
playlist = ["song1", "song2", "song3", "song4"]
playlist.insert(0,"intro_song")
playlist.extend(["song5", "song6", "song7"])
playlist.remove("song3")
del playlist[2]
playlist.reverse()
index_song5 = playlist.index("song5")
print(playlist)

In [ ]:
# Q4. Student Marks:
# Marks = [67, 45, 90, 100, 56].
# Sort them in ascending and descending order.

# Marks = [67, 45, 90, 100, 56]
# # Marks.sort()
# # print(Marks)
# Marks.sort(reverse=True)
# print(Marks)

# Q5 Student Marks Analyzer 
# The marks of students are stored in a list:

# marks = [45, 67, 89, 23, 90, 56]
# 1. Find the total marks.
# 2. Find the highest and lowest marks (without using max() or min()).
# 3. Count how many students scored more than 50.

[100, 90, 67, 56, 45]

In [12]:
marks = [45, 67, 89, 23, 90, 56]
total = 0
for m in marks:
    total += m
print("Total marks",total)

Total marks 370

In [ ]:
marks = [45, 67, 89, 23, 90, 56]
heighest = marks[0]
lowest = marks[0]
for m in marks:
    if m>heighest:
        heighest = m
    if m<lowest:
        lowest = m
print(heighest,lowest)

In [ ]:
marks = [45, 67, 89, 23, 90, 56]
count = 0
for m in marks:
    if m>50:
        count+=1
print(count)

In [13]:
# Q6. Product Inventory Manager
# A store keeps track of products:

# inventory = ["pen", "notebook", "eraser", "pen", "marker", "notebook"]
# 1. Count how many "pen" items are in inventory.
# 2. Remove duplicates while keeping the first occurrence.
# 3. Sort the final inventory in alphabetical order.
inventory = ["pen", "notebook", "eraser", "pen", "marker", "notebook"]
pen_count = inventory.count("pen")
print(pen_count)

2

In [41]:
inventory = ["pen", "notebook", "eraser", "pen", "marker", "notebook"]
unique_inventory = []
for item in inventory:
    if item not in unique_inventory:
        unique_inventory.append(item)
print(unique_inventory)

['pen', 'notebook', 'eraser', 'marker']

In [ ]:
Q7.Number Analysis
# Given:
# nums = [12, 7, 9, 21, 14, 18, 3, 28]
# Tasks:
# 1. Print only even numbers.
# 2. Find the second largest number.
# 3. Reverse the list.

In [ ]:
# Q8.Find the most frequent element in a list(Most frequent element,Frequency)
# nums = [5, 7, 5, 9, 7, 5, 9, 7, 7]

In [42]:
nums = [5, 7, 5, 9, 7, 5, 9, 7, 7]
max_count = 0
max_freq = []
for n in nums:
    count = nums.count(n)
    if count> max_count:
        max_count = count
        max_freq = n
print("max_count is",max_count)
print("max frequency is",max_freq)

max_count is 4
max frequency is 7

In [ ]:
# cart = ["milk", "bread", "butter", "eggs"]
# # Step 1: Add "jam" and "cheese"
# cart.extend(["jam", "cheese"])
# # Step 2: Insert "honey" at the beginning
# cart.insert(0, "honey")
# # Step 3: Remove "bread"
# cart.remove("bread")
# # Step 4: Remove last item
# cart.pop()
# # Step 5: Sort alphabetically
# cart.sort()
# # Step 6: Count how many times "milk" appears
# milk_count = cart.count("milk")
# print("Final cart:", cart)
# print("Milk appears:", milk_count, "time(s)")

In [43]:
marks = [89, 56, 92, 75, 56, 92, 100, 67]

# Step 1: Sort ascending
marks.sort()
print("Ascending order:", marks)

# Step 2: Find second highest
unique_marks = sorted(set(marks))   # remove duplicates
second_highest = unique_marks[-2]
print("Second highest:", second_highest)

# Step 3: Remove all occurrences of lowest mark
lowest = min(marks)
while lowest in marks:
    marks.remove(lowest)
print("After removing lowest:", marks)

# Step 4: Add [85, 90]
marks.extend([85, 90])
print("After adding new marks:", marks)

# Step 5: Reverse for highest first
marks.sort(reverse=True)  # or marks.reverse() after sorting
print("Highest first:", marks)

Ascending order: [56, 56, 67, 75, 89, 92, 92, 100]
Second highest: 92
After removing lowest: [67, 75, 89, 92, 92, 100]
After adding new marks: [67, 75, 89, 92, 92, 100, 85, 90]
Highest first: [100, 92, 92, 90, 89, 85, 75, 67]

In [44]:
playlist = ["song1", "song2", "song3", "song4"]

# 1. Insert "intro_song" at the beginning
playlist.insert(0, "intro_song")
print("After inserting intro_song:", playlist)

# 2. Add ["song5", "song6", "song7"] together
playlist.extend(["song5", "song6", "song7"])
print("After adding songs:", playlist)

# 3. Remove "song3"
playlist.remove("song3")
print("After removing song3:", playlist)

# 4. Delete the song at index 2
del playlist[2]
print("After deleting index 2:", playlist)

# 5. Reverse the playlist
playlist.reverse()
print("After reversing:", playlist)

# 6. Find the index of "song5"
index_song5 = playlist.index("song5")
print("Index of song5:", index_song5)

After inserting intro_song: ['intro_song', 'song1', 'song2', 'song3', 'song4']
After adding songs: ['intro_song', 'song1', 'song2', 'song3', 'song4', 'song5', 'song6', 'song7']
After removing song3: ['intro_song', 'song1', 'song2', 'song4', 'song5', 'song6', 'song7']
After deleting index 2: ['intro_song', 'song1', 'song4', 'song5', 'song6', 'song7']
After reversing: ['song7', 'song6', 'song5', 'song4', 'song1', 'intro_song']
Index of song5: 2

In [45]:

marks = [67, 45, 90, 100, 56]
# Ascending order
ascending = sorted(marks)
print("Ascending order:", ascending)
# Descending order
descending = sorted(marks, reverse=True)
print("Descending order:", descending)

Ascending order: [45, 56, 67, 90, 100]
Descending order: [100, 90, 67, 56, 45]

In [ ]:
total = 0
for m in marks:
    total += m
print("Total marks:", total)

In [ ]:
highest = marks[0]
lowest = marks[0]

for m in marks:
    if m > highest:
        highest = m
    if m < lowest:
        lowest = m

print("Highest mark:", highest)
print("Lowest mark:", lowest)

In [ ]:
count = 0
for m in marks:
    if m > 50:
        count += 1
print("Students scoring > 50:", count)

In [ ]:
pen_count = inventory.count("pen")
print("Number of pens:", pen_count)

In [ ]:

unique_inventory = []
for item in inventory:
    if item not in unique_inventory:
        unique_inventory.append(item)
print("After removing duplicates:", unique_inventory)

In [ ]:

unique_inventory.sort()
print("Final sorted inventory:", unique_inventory)

In [ ]:

nums = [12, 7, 9, 21, 14, 18, 3, 28]

# 1. Print only even numbers
print("Even numbers:", [n for n in nums if n % 2 == 0])

# 2. Find second largest manually (no set, no sorted)
largest = second_largest = float('-inf')
for n in nums:
    if n > largest:
        second_largest = largest
        largest = n
    elif n > second_largest and n != largest:
        second_largest = n

print("Second largest:", second_largest)

# 3. Reverse the list
nums.reverse()
print("Reversed list:", nums)

In [ ]:
unique_nums = []
for n in nums:
    if n not in unique_nums:  
        unique_nums.append(n)

unique_nums.sort()
second_largest = unique_nums[-2]
print("Second largest:", second_largest)

In [46]:

nums = [5, 7, 5, 9, 7, 5, 9, 7, 7]

most_frequent = nums[0]
highest_count = 0

for n in nums:
    count_n = nums.count(n)   # how many times n appears
    if count_n > highest_count:
        highest_count = count_n
        most_frequent = n

print("Most frequent element:", most_frequent)
print("Frequency:", highest_count)

Most frequent element: 7
Frequency: 4

In [ ]:
# Step 1: Initialize a predefined string
keyword_string = "Python"

# Step 2: Convert the string into a list of characters using the list() constructor
char = list(keyword_string)

# Step 3: Print the list to verify the individual characters
print("Keyword Characters:",char)

IndexError: list assignment index out of range

In [ ]:
# Step 1: Get user input
name_input = input( )

# Step 2: Clean and convert input
clean_name = name_input.strip().upper()

# Step 3: Display each character
for ch in list(clean_name):
    print(ch)

In [ ]:
# Cook you code here
# Take user input
user_string = input("")
character_list = list(user_string)
print("The last character is:",character_list[-1])

In [ ]:
# Step 1: Take user input and convert it into a list of names
user_input = input(" ")
# Convert input string into a list
split_names = user_input.split(",")
names = []
for name in split_names:
    names.append(name.strip())

names[1] ="Jack"
names[-1] = "Rachel"

# Step 3: Print the modified list
print("Modified names list:", names)

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = []

for x in nums:
    if x % 2 == 0:
        evens.append(x)

print(evens)   # [2, 4, 6, 8, 10]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = [x for x in nums if x % 2 == 0]
print(evens)   # [2, 4, 6, 8, 10]

In [47]:
words = ["python", "machine", "learning"]
uppercase_words = []

for w in words:
    uppercase_words.append(w.upper())

print(uppercase_words)   # ['PYTHON', 'MACHINE', 'LEARNING']

words = ["python", "machine", "learning"]
uppercase_words = [w.upper() for w in words]
print(uppercase_words)   # ['PYTHON', 'MACHINE', 'LEARNING']

['PYTHON', 'MACHINE', 'LEARNING']
['PYTHON', 'MACHINE', 'LEARNING']

In [ ]:
words = ["python", "machine", "learning"]
first_letters = []

for w in words:
    first_letters.append(w[0])

print(first_letters)   # ['p', 'm', 'l']

words = ["python", "machine", "learning"]
first_letters = [w[0] for w in words]
print(first_letters)   # ['p', 'm', 'l']

In [50]:
t1 = (1,2,3)
t2 = (2,3,4)
print(t1)
print(t1[0])
print(t1[2])

(1, 2, 3)
1
3

In [71]:
t1 = (1,2,3,4,5,6,7,6)
# print(t1[0:2])
# print(len(t1))
# print(max(t1))
# print(min(t1))
# print(sum(t1))
# print(t1.count(6))
print(t1.index(6))

5

In [74]:
nums = (1,2,3,4,5,6,7,8)
*a,last = nums
print(a)
print(last)

[1, 2, 3, 4, 5, 6, 7]
8

In [ ]:
Q1. Create a tuple with numbers (1â€“5). Print the first and last elements.
nums = (1, 2, 3, 4, 5)
print("First element:", nums[0])   # 1
print("Last element:", nums[-1])  # 5

In [75]:
# Q2. Create a tuple of fruits and check if "apple" is present.
fruits = ("apple", "banana", "mango", "grapes")

if "apple" in fruits:
    print("Yes, apple is present")   
else:
    print("No, apple is not present")

Yes, apple is present

In [ ]:
Q3. Find the length of the tuple.
t = (10, 20, 30, 40)
print("Length:", len(t))

In [ ]:
Q4. Find maximum, minimum, and sum.
nums = (10, 25, 7, 42, 18)

print("Maximum:", max(nums))   # 42
print("Minimum:", min(nums))   # 7
print("Sum:", sum(nums))

In [ ]:
Q5. Count how many times 6 appears.
t = (1, 2, 6, 4, 6, 7, 6)
print("6 appears:", t.count(6), "times")

In [ ]:
# Q6. Tuple unpacking into variables.
student = ("Alice", 21, "Math")
name, age, subject = student

print("Name:", name)       
print("Age:", age)          
print("Subject:", subject)

In [ ]:
ðŸ”¹ Q7. Check if two tuples are the same when reversed.
t1 = (1, 2, 3)
t2 = (3, 2, 1)

if t1 == t2[::-1]:    # compare with reversed version
    print("Yes, same when reversed")   # âœ…
else:
    print("No, different")

In [76]:
t = (4, 6, 2, 6, 7, 4, 9, 2, 6)

duplicates = []
for x in t:
    if t.count(x) > 1 and x not in duplicates:
        duplicates.append(x)

print("Duplicates:", tuple(duplicates))   # (4, 6, 2)

Duplicates: (4, 6, 2)

In [78]:
t1 = (1, 2, 3, 4, 5, 6)
t2 = (4, 5, 6, 7, 8, 9)

intersection = []
for x in t1:
    if x in t2 and x not in intersection:
        intersection.append(x)
print("Intersection:", tuple(intersection))

Intersection: (4, 5, 6)

In [79]:
t = (1, 2, 3, 7, 8, 9, 5, 5)
pairs = []
for i in range(len(t)):
    for j in range(i+1, len(t)):
        if t[i] + t[j] == 10:
            pairs.append((t[i], t[j]))

print("Pairs with sum 10:", pairs)
# [(1, 9), (2, 8), (3, 7), (5, 5)]

Pairs with sum 10: [(1, 9), (2, 8), (3, 7), (5, 5)]

In [80]:
# Take user input
user_input = input("")

# Split input into list
raw_list = user_input.split(",")

# Create an empty list to store cleaned destinations
destinations_list = []
# Loop through each item in raw_list
for place in raw_list:
    cleaned_place = place.strip()   # remove extra spaces
    destinations_list.append(cleaned_place)
# Convert list into tuple
destinations_tuple = tuple(destinations_list)
# Print final tuple
print("Tuple of favorite travel destinations:", destinations_tuple)

Tuple of favorite travel destinations: ('3',)

In [ ]:
def create_tuple():
    # Take user input
    user_input = input("")
    
    # Split input into raw list
    raw_list = user_input.split(",")
    
    # Clean spaces using a loop
    cleaned_list = []
    for item in raw_list:
        cleaned_list.append(item.strip())
    
    # Convert list into tuple
    return tuple(cleaned_list)


# Create first tuple
print("")
tuple1 = create_tuple()

# Create second tuple
print("")
tuple2 = create_tuple()

# Concatenate inside a nested tuple
nested_tuple = (tuple1, tuple2)

# Print final nested tuple
print("Nested Tuple:", nested_tuple)

In [ ]:
sentence = input("")

# Convert string into tuple of words
words_tuple = tuple(sentence.split())

# Access last word using negative indexing
last_word = words_tuple[-1]

# Print result
print("The last word is:", last_word)

In [81]:
# Define a nested tuple of book categories
library = (
    ("Fiction", ("Book A", "Book B", "Book C")),
    ("Non-Fiction", ("Book D", "Book E", "Book F")),
    ("Children", ("Book G", "Book H", "Book I")),
    ("Science", ("Book J", "Book K", "Book L")),
    ("History", ("Book M", "Book N", "Book O")),
    ("Art", ("Book P", "Book Q", "Book R"))
)

# Slice the tuple to get every second category
every_second_category = library[0::2] 

# Print the result
print(every_second_category)

(('Fiction', ('Book A', 'Book B', 'Book C')), ('Children', ('Book G', 'Book H', 'Book I')), ('History', ('Book M', 'Book N', 'Book O')))

In [82]:
data = 2,3,4
print(data)

(2, 3, 4)

In [83]:
student = ("alice",3,"math")
name,age,subject = student
print(name)
print(age)
print(subject)

alice
3
math

In [84]:
t1 = (1, 2, 3, 4, 5, 6)
t2 = (4, 5, 6, 7, 8, 9)

print("Intersection:", tuple(set(t1) & set(t2)))

Intersection: (4, 5, 6)

In [85]:
t = (4, 5, 6, 4, 7, 8, 6, 9)
unique = []
for x in t:
    if t.count(x) == 1:
        unique.append(x)

print("Elements appearing only once:", tuple(unique))

Elements appearing only once: (5, 7, 8, 9)

In [92]:
a = (1,2,3,4,5)
a,b,*arg = a
print(a)
print(b)
print(arg)

1
2
[3, 4, 5]

In [93]:
t = (1, "hello", 3.5, [10, 20])
print(t)

(1, 'hello', 3.5, [10, 20])