In [4]:
s = {[1,"2",3]}
print(s)

TypeError: unhashable type: 'list'

In [5]:
s = {1, "hello", (1,2,3)}
print(s)   # {1, 'hello', (1, 2, 3)}

{1, 'hello', (1, 2, 3)}

In [6]:
s = { [1,2,3] }     # ❌ Error: unhashable type: 'list'
s = { {"a":1} }     # ❌ Error: unhashable type: 'dict'
s = { {1,2,3} }     # ❌ Error: unhashable type: 'set'

TypeError: unhashable type: 'list'

In [ ]:
# s = {(1,2,[3,4])}   # ❌ Error: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [ ]:
fruits = {1,2,3,5}
if 6 not in fruits:
    print("Yes")

Ye

In [25]:
s = set("1")
print(s)

{'1'}

In [34]:
a = {1,2,3,4,9}
b = {2,3,4,5}
# print(a-b)
print(a^b)
# print(a&b)
# print(a.intersection(b))
# print(a|b)
# print(a.union(b))

{1, 5, 9}

In [40]:
x = {1,2,3,4,5}
y = {1,2,3,4}
print(y.issubset(x))
print(y.issuperset(x))

True
False

In [46]:
s = {1,2,3}
x = {2,3,4}
y = {9,8,7}
print(y.isdisjoint(s))
print(x.isdisjoint(s))

True
False

In [ ]:
13. Copying Sets

copy_set = fruits.copy()

In [47]:
frozen = frozenset([1, 2, 3])
print(frozen)

frozenset({1, 2, 3})

In [48]:
# Create a set fruits containing "apple", "banana", "cherry". Print it.
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

In [49]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [50]:
colors = {"red", "green"}
colors.add("blue")       # Add element
colors.remove("red")     # Remove element
print(colors)

{'blue', 'green'}

In [51]:
colors = {"red", "green"}
colors.add("blue")       # Add element
colors.remove("red")     # Remove element
print(colors)

{'blue', 'green'}

In [52]:
a = {1,2,3}
b = {3,4,5}

print("Union:", a | b)
print("Intersection:", a & b)
print("Difference (a-b):", a - b)
print("Symmetric Difference:", a ^ b)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference (a-b): {1, 2}
Symmetric Difference: {1, 2, 4, 5}

In [53]:
a= "apple"
print(set(a))

{'p', 'e', 'a', 'l'}

In [57]:
words = ["apple", "grape", "maple"]
common_char = set(words[0])
for word in words[1:]:
    common_char&=set(word)
print(common_char)

{'p', 'e', 'a'}

In [62]:
data = [(1,"a"), (2,"b"), (1,"c"), (3,"d"), (2,"e")]
seen = set()
unique_tuples = []
for t in data:
    if t[0] not in seen:
        unique_tuples.append(t)
        seen.add(t[0])
print(unique_tuples)

[(1, 'a'), (2, 'b'), (3, 'd')]

In [ ]:
words = ["apple", "orange", "grape"]
vowels = set("aeiou")  # Set of vowels
unique_vowels = set()   # To store unique vowels found
for word in words:
    # Find vowels in this word and add to unique_vowels
    unique_vowels.update(set(word) & vowels)

print(unique_vowels)
print("Number of unique vowels:", len(unique_vowels))

{'e', 'o', 'a'}
Number of unique vowels: 3

In [71]:
fruits ={1,2,3,4,5,5}
print(len(fruits))

5

In [72]:
a = {1,2,3}
b = {3,4,5}
c = a-b
print(c)

{1, 2}

In [75]:
x = {1,2,3}
y = {2,3,5,1}
print(x.issuperset(y))

False

In [80]:
x = {1,2}
y = {1,2,3}
print(x.issubset(y))
print(x.issuperset(y))

True
False

In [82]:
x = {1}
y = {2,3,4}
print(x.isdisjoint(y))

True

In [83]:
s = {1, 2, 3}
s.update({3, 4, 5})  # Add elements from another set
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# Find numbers present in all three lists. 
# Find all unique numbers that appear in any of the given lists.
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
list3 = [3, 4, 6]
# common_numbers = set(list1)& set(list2) & set(list3)
# print(common_numbers)
common_numbers = set(list1)| set(list2) | set(list3)
print(common_numbers)

In [ ]:
# Given a list of tuples:
# data = [(1,"a"), (2,"b"), (1,"c"), (3,"d"), (2,"e")]
# Keep only the tuples with a unique first element.

In [94]:
data = [(1,"a"), (2,"b"), (1,"c"), (3,"d"), (2,"e")]
# freq = {}
# for tup in data:
#     num = tup[0]
#     if num in freq:
#         freq[num]+=1
#     else:
#         freq[num] = 1
# result = []
# for tup in data:
#     num = tup[0]
#     if freq[num] ==1:
#         result.append(tup)
# print(result)

seen = set()
unique_tuples = []
for t in data:
    if t[0] not in seen:
        unique_tuples.append(t)
        seen.add(t[0])
print(unique_tuples)

[(1, 'a'), (2, 'b'), (3, 'd')]

In [ ]:
# Given:
# words = ["apple", "orange", "grape"]
# Count all unique vowels (a, e, i, o, u) present across all words.

In [97]:
words = ["apple", "orange", "grape"]
vowels = set("aeiou")
unique_vowels = set()
for word in words:
    unique_vowels.update(set(word) & vowels)
print(unique_vowels)
print(len(unique_vowels))

{'e', 'o', 'a'}
3

In [101]:
# Given a list of words, print only the words that contain all 5 vowels.
words = ["education", "sequoia", "algorithm", "beautiful"]
vowels = set("aeiou")
for word in words:
   if vowels.issubset(set(word)):
      print(word)

education
sequoia

In [102]:
def square_evens(numbers):
    result = []
    for num in numbers:
        if num % 2 == 0:
            result.append(num ** 2)
    return result

# Test
print(square_evens([1, 2, 3, 4, 5, 6]))  # [4, 16, 36]

[4, 16, 36]

In [103]:
def group_by_first_letter(words):
    result = {}
    for word in words:
        first_letter = word[0].lower()
        if first_letter not in result:
            result[first_letter] = set()
        result[first_letter].add(word)
    return result

# Test
words = ['apple', 'banana', 'cherry', 'apricot', 'blueberry']
print(group_by_first_letter(words))

{'a': {'apple', 'apricot'}, 'b': {'banana', 'blueberry'}, 'c': {'cherry'}}

In [104]:
def multiplication_table(size):
    table = []
    for i in range(1, size + 1):
        row = []
        for j in range(1, size + 1):
            row.append(i * j)
        table.append(row)
    return table

# Test
print(multiplication_table(3))

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [105]:
def compare_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    
    common = set1.intersection(set2)
    only_in_first = set1.difference(set2)
    only_in_second = set2.difference(set1)
    
    return (common, only_in_first, only_in_second)

# Test
result = compare_lists([1, 2, 3, 4], [3, 4, 5, 6])
print(result)  # ({3, 4}, {1, 2}, {5, 6})

({3, 4}, {1, 2}, {5, 6})

In [106]:
def compare_lists(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    
    common = set1.intersection(set2)
    only_in_first = set1.difference(set2)
    only_in_second = set2.difference(set1)
    
    return (common, only_in_first, only_in_second)

# Test
result = compare_lists([1, 2, 3, 4], [3, 4, 5, 6])
print(result)  # ({3, 4}, {1, 2}, {5, 6})

({3, 4}, {1, 2}, {5, 6})

In [108]:
def swap_dict_keys_values(original_dict):
    """
    Swaps keys and values in a dictionary, handling duplicate values.
    
    Args:
        original_dict (dict): Dictionary to swap
    
    Returns:
        dict: New dictionary with swapped keys and values
    """
    swapped = {}
    
    for key, value in original_dict.items():
        if value in swapped:
            # Value already exists as key, add to list
            swapped[value].append(key)
        else:
            # New value, create list with current key
            swapped[value] = [key]
    
    return swapped

# Test cases
print("Test 1:", swap_dict_keys_values({'name': 'John', 'age': 25}))
print("Test 2:", swap_dict_keys_values({'Alice': 'A', 'Bob': 'B', 'Charlie': 'A'}))

Test 1: {'John': ['name'], 25: ['age']}
Test 2: {'A': ['Alice', 'Charlie'], 'B': ['Bob']}

In [ ]:
def swap_dict_keys_values(original_dict):
    swapped = {}
    for key, value in original_dict.items():
        if value in swapped:
            # Value already exists as key, add to list
            swapped[value].append(key)
        else:
            # New value, create list with current key
            swapped[value] = [key]
    
    return swapped
# Test cases
print("Test 1:", swap_dict_keys_values({'name': 'John', 'age': 25}))
print("Test 2:", swap_dict_keys_values({'Alice': 'A', 'Bob': 'B', 'Charlie': 'A'}))

Test 1: {'John': ['name'], 25: ['age']}
Test 2: {'A': ['Alice', 'Charlie'], 'B': ['Bob']}

In [111]:
# Write a function that takes a list of numbers and 
# returns a new list containing only the even numbers, 
# squared.Example: [1, 2, 3, 4, 5, 6] → [4, 16, 36]
def square_evens(numbers):
    result = []
    for num in numbers:
        if num%2 == 0:
            result.append(num**2)
    return result
square_evens([1, 2, 3, 4, 5, 6])

[4, 16, 36]

In [118]:
# Given a list of words, create a function that returns a dictionary where keys are the first
# letters and values are sets of words starting with that letter.
# Example: ['apple', 'banana', 'cherry', 'apricot', 'blueberry'] 
# → {'a': {'apple', 'apricot'}, 'b': {'banana', 'blueberry'}, 'c': {'cherry'}}
def group_by_first_letter(words):
    result = {}
    for word in words:
        first_letter = word[0].lower()
        if first_letter not in result:
            result[first_letter] = set()
        result[first_letter].add(word)
    return result
group_by_first_letter(['apple', 'banana', 'cherry', 'apricot', 'blueberry'])

{'a': {'apple', 'apricot'}, 'b': {'banana', 'blueberry'}, 'c': {'cherry'}}

In [120]:
def multiplication_table(size):
    table = []
    for i in range(1,size+1):
        row = []
        for j in range(1,size+1):
            row.append(i*j)
        table.append(row)
    return table
multiplication_table(5)

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25]]

In [ ]:
def swap_dict_keys_values(original_dict):
   swapped = {}
   for key, value in original_dict.items():
       if value in swapped:
           # Value already exists as key, add to list
           swapped[value].append(key)
       else:
           # New value, create list with current key
           swapped[value] = [key]
   return swapped
# Test cases
print("Test 1:", swap_dict_keys_values({'name': 'John', 'age': 25}))
print("Test 2:", swap_dict_keys_values({'Alice': 'A', 'Bob': 'B', 'Charlie': 'A'}))

Test 1: {'John': ['name'], 25: ['age']}
Test 2: {'A': ['Alice', 'Charlie'], 'B': ['Bob']}

In [122]:
def compare_lists(list1, list2):
   set1 = set(list1)
   set2 = set(list2)
   common = set1.intersection(set2)
   only_in_first = set1.difference(set2)
   only_in_second = set2.difference(set1)
  
   return (common, only_in_first, only_in_second)
result = compare_lists([1, 2, 3, 4], [3, 4, 5, 6])
print(result)  # ({3, 4}, {1, 2}, {5, 6})

({3, 4}, {1, 2}, {5, 6})