In [2]:
t1 = 1,2,3
print(type(t1))

<class 'tuple'>

In [3]:
t1 = (1,2,3)
t2 = (2,3,4)
print(t1+t2)

(1, 2, 3, 2, 3, 4)

In [5]:
t1 = (10,20,30)
print(10 not in t1)

False

In [ ]:
nums = (10,20,30,40)
a,b,*args = nums
print(a)
print(b)
print(args)

10
40
[20, 30]

In [ ]:
Q1. Create a tuple with numbers (1–5). Print the first and last elements.
Q2. Create a tuple of fruits and check if "apple" is present.
(fruits = ("apple", "banana", "mango", "grapes")
Q3. Find the length of the tuple:
Q4. Given a tuple, find the maximum, minimum, and sum.
 (nums = (10, 25, 7, 42, 18))
Q5. Count how many times 6 appears in the tuple 
(t = (1, 2, 6, 4, 6, 7, 6))
Q6. Given a tuple, unpack the values into variables.
student = ("Alice", 21, "Math”)

In [ ]:
fruits = ("apple", "banana", "mango", "grapes")
if "apple" in fruits:
    print("yes apple is present")
else:
    print("apple is not present")

In [10]:
student = ("Alice", 21, "Math”)
name,age,subject = student
print(name)
print(age)
print(subject)

SyntaxError: unterminated string literal (detected at line 1) (2928861550.py, line 1)

In [12]:
# Q7. Write a Python program to find all duplicate elements in a tuple.
t = (4, 6, 2, 6, 7, 4, 9, 2, 6)
duplicates = []
for x in t:
    if t.count(x)>1 and x not in duplicates:
        duplicates.append(x)
print(tuple(duplicates))

(4, 6, 2)

In [ ]:
# Q8.find the intersection of 2 tuples without using sets:
t1 = (1, 2, 3, 4, 5, 6)
t2 = (4, 5, 6, 7, 8, 9)
intesection = []
for x in t1:
    if x in t2 and x not in intesection:
        intesection.append(x)
print(intesection)

In [14]:
# Q9.Find element(s) that appear only once in
# a tuple. t = (4, 5, 6, 4, 7, 8, 6, 9)
t = (4, 5, 6, 4, 7, 8, 6, 9)
unique = []
for x in t:
    if t.count(x)==1:
        unique.append(x)
print(tuple(unique))

(5, 7, 8, 9)

In [21]:
# Q10 Find all unique pairs of numbers in a tuple whose sum is 10.
t = (1, 2, 3, 7, 8, 9, 5, 5)
pairs = []
for i in range(len(t)):
    for j in range(i+1,len(t)):
        if t[i]+ t[j] == 10:
            pairs.append((t[i],t[j]))
print(pairs)

[(1, 9), (2, 8), (3, 7), (5, 5)]

In [20]:
t = (1,2,3,4,5,6)
print(sum(t))
print(len(t))
print(max(t))
print(min(t))

21
6
6
1